MYSQL_DATABASE=omo
MYSQL_USER=omo
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET_KEY=

CORS_ALLOWED_ORIGINS=http://localhost:5173,https://omo-fe.vercel.app

AWS_REGION=ap-northeast-2
PROFILE_BUCKET=
INQUIRY_BUCKET=
S3_PRESIGNED_URL_EXPIRATION=5m
